body{
    background-color: black;
}

.tareas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-tareas{
    color: #7B9669;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 50%;
    text-align: center;

}


.modal-tarea{
    
    display: none;
    
}