body{
    background-color: black;
}

/* ----------Estilos de la seccion de tareas----------*/
.tareas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-tareas{
    background-color: whitesmoke;
    border-radius: 15px;
    width: 50%;
    text-align: center;
}

.header-tareas .agregar-tarea{
    font-size: 30px;
    background-color:whitesmoke;
    border-radius: 10px;
    

}

.modal-tarea{
    
    display: none;
    
}
