# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# =========================
# Logs
# =========================
logs
*.log

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Entornos / variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Build / output
# =========================
dist/
build/
out/

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp
.cache/

# =========================
# Coverage (testing)
# =========================
coverage/